html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inputField {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
}
.inputField::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #cbcbcb;
  letter-spacing: 0.07em;
  text-transform: capitalize;
}
.inputField:focus {
  outline: none !important;
}

.search-input {
  width: 100%;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #505050;
  padding-right: 26px;
}
.search-input::placeholder {
  color: #b4b4b4;
  letter-spacing: 0.16em !important;
}
.search-input:focus {
  outline: none !important;
}
.coupon-input {
  background: #ffffff;
  border-radius: 6px;
  border: none;
  width: 178px;
  height: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  padding: 0px 20px;
}
.coupon-input:focus {
  outline: none !important;
}

@media only screen and (max-width: 600px) {
  .coupon-input {
    background: #f5f5f5;
  }
}
.date-field {
  width: 60px !important;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
}
.date-field::placeholder{
  color: #cbcbcb;
}
.date-field:focus {
  outline: none;
}
.cvv-field {
  width: 40px !important;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
}
.cvv-field::placeholder{
  color: #cbcbcb;
}
.cvv-field:focus {
  outline: none;
}
.blur-effect {
  width: 215px;
  height: 105px;
  backdrop-filter: blur(10px);
}
