html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  margin-left: auto;
  margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.inputField {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #505050;
}
.inputField::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #cbcbcb;
  letter-spacing: 0.07em;
  text-transform: capitalize;
}
.inputField:focus {
  outline: none !important;
}
